@reference "../styles/globals.css";

@layer components {
  .nav {
    @apply mr-4;

    a {
      @apply p-1 rounded-md;
    }
  }

  .logo_container {
    @apply svg-inline select-none;
    font-size: 30px;
  }
}
